absl-py==1.4.0
asgiref==3.4.1
astor==0.8.1
atari-py==1.2.2
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
backcall==0.2.0
backports.zoneinfo==0.2.1
bidict==0.21.4
bson==0.5.8
cached-property==1.5.2
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
dj-database-url==0.4.0
Django==1.11
djangorestframework==3.9.0
djongo==1.2.26
dnspython==2.2.1
filelock==3.4.1
Flask==2.0.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
-e git+https://github.com/RESQUELAB/rl-teacher-ui-adapt.git@167b0ef008e2bdf2467f0e556b10fd119c1d366a#egg=ga3c&subdirectory=agents\ga3c
gast==0.5.4
greenlet==2.0.2
grpcio==1.48.2
gunicorn==21.2.0
gym==0.10.5
h11==0.13.0
h5py==3.1.0
-e git+https://github.com/RESQUELAB/rl-teacher-ui-adapt.git@167b0ef008e2bdf2467f0e556b10fd119c1d366a#egg=human_feedback_api&subdirectory=human-feedback-api
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipdb==0.13.13
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
Keras==2.1.6
kiwisolver==1.3.1
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.2.2
mujoco-py==0.5.7
numpy==1.13.3
packaging==21.3
pandas==1.0.5
-e git+https://github.com/RESQUELAB/rl-teacher-ui-adapt.git@167b0ef008e2bdf2467f0e556b10fd119c1d366a#egg=parallel_trpo&subdirectory=agents\parallel-trpo
parso==0.7.1
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.36
protobuf==3.6.1
psutil==7.0.0
psycopg2-binary==2.8.6
pycparser==2.21
pyglet==1.2.4
Pygments==2.14.0
pymongo==3.12.1
PyOpenGL==3.1.7
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.0
python-version==0.0.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.27.1
-e git+https://github.com/RESQUELAB/rl-teacher-ui-adapt.git@167b0ef008e2bdf2467f0e556b10fd119c1d366a#egg=rl_teacher
scikit-learn==0.24.2
scipy==1.2.2
simple-websocket==1.0.0
six==1.16.0
sqlparse==0.2.4
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==1.2.3
tqdm==4.64.1
traitlets==4.3.3
typing_extensions==4.1.1
-e git+https://github.com/RESQUELAB/RL-based-UIAdaptation.git@cd0b8bfab5b12f2c2c8c402e6241ea354db4baf8#egg=ui_adapt
urllib3==1.26.18
uvicorn==0.16.0
waitress==2.0.0
wcwidth==0.2.13
websocket-client==1.3.1
websocket-server==0.6.4
Werkzeug==2.0.3
whitenoise==3.2.2
wincertstore==0.2
wrapt==1.16.0
wsproto==1.0.0
zipp==3.6.0
zope.event==4.6
zope.interface==5.5.2
